<div class='section'>
  <h3>חיבור לרשת אלחוטית <b><%= @network[:ssid] %></b> <span class="label label-success">פעיל</span></h3>
  <h3><a href="#"><span class='btn btn-danger'>התנתק</span></a></h3>
</div>