<div class='mainContainer'>
  <div class='section'>
    <h1><span class="label label-primary">פרוייקט גמר - הנדסת איכות ואמינות</span></h1>
  </div>
  <div class='section'>
    <img class='kineret-logo' src='<%= image_path('kineret') %>' />
  </div>
  <div class='section'>
    <p>כל הזכויות שמורות © יעקב סופי התשע"ו - 2016</p>
  </div>
</div>