body {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.container {
  white-space: nowrap;
  display: flex;
}

.section {
  text-align: center;
}

.section.stretch {
  flex: 1;
}

.section.stretch h1 {
  font-size: 25vh;
}

.form-container {
  display: flex;
}

.channel-form {
  align-items: center;
  flex-direction: column;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.form-input {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.sidebar {
  display: inline-block;
}

.mainContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}