body {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.container {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

.nav.nav-tabs {
  padding: 0;
}

.nav.nav-tabs > li {
  float: right;
}

.section {
  text-align: center;
}

.section.stretch {
  flex: 1;
}

.section.stretch h1 {
  font-size: 8em;
}

.tab-container {
  display: flex;
}

.channel-btn {
  width: 100%;
}

.form-container {
  display: flex;
}

.piui-form {
  padding-top: 20px;
  align-items: center;
  flex-direction: column;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.progress {
  width: 60%;
  align-self: center;
  background-color: #999999 !important;
  text-align: center;
}


.progress .color-medium {
  background-color: #337ab7 !important;
}

.progress .color-high {
  background-color: red !important;
}

.progress .color-low {
  background-color: green !important;
}

.social-norm-bar {
  direction: ltr;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.social-norm-bar .progress-meter {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.social-norm-bar .progress {
  margin-bottom: 0;
}

.piui-form .form-input {
  padding-bottom: 15px;
}

.piui-form.channels-form .form-input {
  padding-bottom: 0;
}

.separator {
  border-top: 1px solid #aaa;
  margin: 30px 0;
}

.form-input .input-group {
  width: inherit;
}

.form-input .form-control {
  text-align: right;
  width: inherit;
}

.form-input {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.sidebar > h3:last-child {
  margin-bottom: 0;
}

.mainContainer {
  flex: 8;
  display: flex;
  flex-direction: column;
}

.kineret-logo {
  margin-top: 20px;
  height: 100px;
}

.footer-icon {
  height: 45px;
  margin-left: 10px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-ts {
  flex: 1;
  text-align: left;
}
.footer-icons {
  flex: 1;
  text-align: center;
}

h1 {
  font-size: 3em;
}

.bs-slider-wrapper {
  width: 57%;
  margin-left: 10px;
}

.bs-slider-wrapper .slider.slider-horizontal {
  width: 100%;
}

.bs-slider-wrapper .slider-track-high {
	background-color: white;
}

.bs-slider-wrapper .slider-selection {
	background: #337ab7 !important;
}

.body {
    background-image: url("energy.png");
    height: 45px;
    margin-left: 10px;
}
