body {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.container {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

.nav.nav-tabs {
  padding: 0;
}

.nav.nav-tabs > li {
  float: right;
}

.section {
  text-align: center;
}

.section.stretch {
  flex: 1;
}

.section.stretch h1 {
  font-size: 8em;
}

.tab-container {
  display: flex;
}

.channel-btn {
  width: 100%;
}

.form-container {
  display: flex;
}

.channel-form, .settings-form {
  padding-top: 20px;
  align-items: center;
  flex-direction: column;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.settings-form .form-input {
  padding-top: 10px;
}

.form-input .input-group {
  width: inherit;
}

.form-input .form-control {
  text-align: right;
  width: inherit;
}

.form-input {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.sidebar > h3:last-child {
  margin-bottom: 0;
}

.mainContainer {
  flex: 8;
  display: flex;
  flex-direction: column;
}

.kineret-logo {
  margin-top: 20px;
  height: 100px;
}

h1 {
  font-size: 3em;
}