<div class='footer-container'>
  <% bla = [{"Transmitter" => "3", "Status" => 3}, {"Transmitter" => "7", "Status" => 1}, {"Transmitter" => "13", "Status" => 0}] %>
  <% bla.map do |t| %>
    <div><%= true && image_tag("wifi-#{t["Status"]}.png", title: "Transmitter #{t["Transmitter"]}", class:'footer-icon')%></div>
  <% end %>

  <div class='footer-ts'><h4><%= Time.now.strftime("%d/%m/%Y - %H:%M") %></h4></div>
</div>
