<div class='footer-container'>
  <div><%= number = 3 ; true && image_tag("wifi-#{number}.png", title: "Some tooltip", class:'footer-icon')%></div>
  <div><%= number = 3 ; true && image_tag("wifi-#{number}.png", class:'footer-icon')%></div>
</div>
